<div class="container" [formGroup]="formGroup">
    <h2>{{ title }}</h2>
  <form class="direction"
        (input)="onFormChange()"
        (submit)="onSubmit()"
  >
    <div
      class="direction"
      style="display: block;"

    formArrayName="phone"
    >
      <ng-container *ngFor="let userFormGroup of userFormGroup.controls; let i = index">
        <mat-form-field class="input-icon-size" appearance="outline">
          <mat-label>Телефон</mat-label>
          <input
            matInput
            formControlName="{{i}}"
            style="display: block;"
          >
          <mat-icon color="warn" (click)=" removePhone(i)" class="input-icon">delete</mat-icon>
          <mat-error
          >
            Это поле обязательно
          </mat-error>
        </mat-form-field>

      </ng-container>


    </div>


    <mat-form-field class="size" appearance="outline">
      <mat-label>Имя</mat-label>
      <input
        matInput
        formControlName="name"
      >
      <mat-error
      *ngIf="formGroup.hasError('required', 'login')"
      >
        Это поле обязательно
      </mat-error>
    </mat-form-field>

    <mat-form-field class="size" appearance="outline">
      <mat-label>Фамилия</mat-label>
      <input
        matInput
        formControlName="surName"
      >
      <mat-error
        *ngIf="formGroup.hasError('required', 'password')"
      >
        Это поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="formError">{{ formError }}</mat-error>
    <div>
      <button mat-raised-button color="primary" [disabled]="formGroup.invalid || !!formError">Войти</button>
      <button mat-raised-button color="primary" (click)="addPhone()" style="margin-bottom: 15px" type="button">Добавить</button>
    </div>

  </form>
</div>

