<div class="container" [formGroup]="formGroup">
    <h2>Реактивные формы</h2>
  <form class="direction"
        (input)="onFormChange()"
        (submit)="onSubmit()"
  >
    <div class="direction">
      <mat-form-field class="size" appearance="outline">
        <mat-label>Квартира</mat-label>
        <input
          matInput
          formControlName="login"
        >
        <mat-error
        >
          Это поле обязательно
        </mat-error>
      </mat-form-field>
    </div>
    <div class="direction position">
      <mat-form-field class="size" appearance="outline">
        <mat-select
          placeholder="Телефон"
        >
          <mat-option
            value="Домашний"
          >Домашний</mat-option>
          <mat-option
            value="Мобильный"
          >Мобильный</mat-option>
        </mat-select>
      </mat-form-field>
      <button
        mat-raised-button>
        <mat-icon color="primary">add</mat-icon>
      </button>
      <button
        mat-raised-button>
        <mat-icon color="warn">delete</mat-icon>
      </button>

    </div>


    <mat-form-field class="size" appearance="outline">
      <mat-label>Логин</mat-label>
      <input
        matInput
        formControlName="login"
      >
      <mat-error
      *ngIf="formGroup.hasError('required', 'login')"
      >
        Это поле обязательно
      </mat-error>
    </mat-form-field>

    <mat-form-field class="size" appearance="outline">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        formControlName="password"
      >
      <mat-error
        *ngIf="formGroup.hasError('required', 'password')"
      >
        Это поле обязательно
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="formError">{{ formError }}</mat-error>
    <button mat-raised-button color="primary" [disabled]="formGroup.invalid || !!formError">Войти</button>

  </form>
</div>

